* {
    // Outline Developer option
    // outline: red solid 1px !important;
}

p {
    color: $brilliance_primary_text_color;
}

path {
    transition: none;
}

svg {
    transition: none;
}

blockquote {
    border-left: rem(3px) solid $color_border_secondary;
    margin: 0;
    margin-bottom: rem(16px);
    padding: rem(8px 0px 8px 16px);

    P {
        margin: 0;
    }
}

address {
}

pre {
    background-color: $brilliance_neutral_gray_color;
    padding: 8px;
    max-width: 100%;
    overflow: auto;
}

th {
    color: $brilliance_primary_text_color;
}

td,
dt,
dd {
    color: $brilliance_secondary_text_color;
}

hr {
    outline: none;
    border: 0.5px solid $brilliance_border_color;
    background: $brilliance_border_color;
}

li {
    color: $brilliance_primary_text_color;
}

legend {
    color: $brilliance_primary_text_color;
}
