* {
    // Outline Developer option
    // outline: red solid 1px !important;
}

p {
    color: $sheen_primary_text_color;
    margin-bottom: rem(48px);
}

p.is-style-paragraph-no-margin {
    margin-bottom: rem(8px);
    margin-top: 0;
}

path {
    transition: none;
}

svg {
    transition: none;
}

blockquote {
    border-left: rem(3px) solid $color_border_secondary;
    margin: 0;
    margin-bottom: rem(16px);
    padding: rem(8px 0px 8px 16px);
    color: $sheen_secondary_text_color;
    font-style: italic;

    P {
        margin: 0;
    }

    * {
        color: inherit;
    }
}

address {
}

pre {
    background-color: $sheen_neutral_gray_color;
    padding: 8px;
    max-width: 100%;
    overflow: auto;
}

th {
    color: $sheen_primary_text_color;
}

td,
dt,
dd {
    color: $sheen_secondary_text_color;
}

hr {
    outline: none;
    border: 0.5px solid $sheen_border_color;
    background: $sheen_border_color;
}

li {
    color: $sheen_primary_text_color;
}

legend {
    color: $sheen_primary_text_color;
}

hr {
    border: none !important;
    border-top: 2px solid $sheen_tertiary_text_color !important;
    background: none;
    outline: none;

    margin: rem(48px 0px);
}
