h1 {
    color: $brilliance_primary_color;
}

h2 {
    color: $brilliance_primary_accent_color;
}

h3 {
    color: $brilliance_headings_color;
}

h4 {
    color: $brilliance_primary_text_color;
}

h5 {
    color: $brilliance_primary_text_white_color;
}

h6 {
    color: $brilliance_secondary_text_color;
}

.h7 {
    color: $brilliance_tertiary_text_color;
}

.h8 {
    color: $brilliance_error_color;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     word-break: break-all;
// }
