.c-social-share {
    width: 100%;
    margin-top: rem(24px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-social-share--lefted {
    justify-content: flex-start;
    margin-top: rem(30px);
}

.c-social-share__item {
    width: max-content;
    height: max-content;
    margin: rem(0px 10px);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus,
    &:active {
        .c-social-share__icon {
            color: $sheen_primary_accent_color;
        }
    }
}

.c-social-share__icon {
    font-size: rem(20px);
    color: $sheen_primary_text_color;

    &:hover,
    &:focus,
    &:active {
        color: $sheen_primary_accent_color;
    }
}

.c-social-share__item {
    &:hover,
    &:focus,
    &:active {
        .c-social-share__item__icon {
            color: $sheen_primary_accent_color;
        }
    }
}
.c-social-share__item__icon {
    color: $sheen_primary_text_color;

    &:hover,
    &:focus,
    &:active {
        color: $sheen_primary_accent_color;
    }
}

.c-social-share__icon--iconify {
    font-size: rem(18px);
}

.c-social-share--footer {
    padding: rem(0px 16px);
    flex-wrap: wrap;
}

.c-social-share__title {
    text-transform: uppercase;
}
