/*------------------------------------*\
  #Single
\*------------------------------------*/
.c-single--centered {
    @include mq($from: tablet) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.c-single__wrapper {
    width: 100%;
    @include mq($from: tablet) {
        max-width: rem(910px);
    }
}

.c-single__wrapper-has-border {
    border-top: 1px solid $color_border_tertiary;
    padding-top: rem(48px);
    margin-top: rem(48px);

    @include mq($from: tablet) {
        margin-top: rem(96px);
        padding-top: rem(71px);
    }
}

.c-single__meta {
    margin-top: rem(20px);
}

.c-single__thumbnail {
    margin-top: rem(24px);
    display: flex;
    justify-content: center;

    @include mq($from: tablet) {
        margin-top: rem(50px);
    }
}

.c-single__thumbnail__img.wide {
    width: 100%;
}

.c-single__content {
    margin-top: rem(39px);
    max-width: 100%;

    @include mq($from: tablet) {
        margin-top: rem(63px);
    }
}

/*------------------------------------*\
  #Single Gallery 
\*------------------------------------*/

.c-single__masonry-image__wrapper {
    width: 380px;

    @include mq($from: tablet) {
        margin-bottom: 50px;
        display: inline-block;
    }

    @include mq($until: desktop-md) {
        width: 570px;
    }

    @include mq($until: desktop-xsm) {
        width: 480px;
    }

    @include mq($until: tablet) {
        width: 100%;
    }
}

.c-single__masonry {
    text-align: left;
    margin-top: rem(39px);

    @include mq($from: tablet) {
        margin-top: rem(48px);
    }
}

/*------------------------------------*\
  #Single carousel 
\*------------------------------------*/
.c-single__carousel {
    width: 100%;
    height: max-content;
    margin-top: rem(48px);
    transition: none;
    position: relative;

    .flickity-viewport {
        overflow: hidden;
    }

    .flickity-slider {
        height: rem(500px);
    }

    .flickity-page-dots {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 55px;
    }
}

.c-single__carousel-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.c-single__carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*------------------------------------*\
  #Carousel & gallery 
\*------------------------------------*/

.c-single__slider {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.c-single__slider--carousel {
    height: max-content;
}

.c-single__slider-title {
    margin: 0;
}

.c-single__slider-desc {
    margin: 0;
    margin-top: rem(24px);

    @include mq($from: tablet) {
        margin-top: rem(39px);
    }
}

/*------------------------------------*\
  #single tags
\*------------------------------------*/
.c-single__tags {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: rem(64px);
    text-transform: capitalize;
    color: $brilliance_primary_text_color;

    @include mq($from: tablet) {
        margin-top: rem(92px);
    }
}

.c-single__tag {
    margin: rem(0px 8px);
    text-transform: uppercase;
}

.c-single__tag:first-child {
    margin-left: rem(21px);
}
