/*------------------------------------*\
  #Seprator
\*------------------------------------*/
.u-seprator {
    margin: 0px 23px;
    color: $brilliance_primary_text_color;
}

/*------------------------------------*\
  #Links helpers
\*------------------------------------*/
.u-link--secondary {
    color: $color_link_secondary; //060606
    text-decoration: none;
    position: relative;

    &:hover,
    &:focus,
    &:active {
        color: $color_link_hover_secondary; //060606
        &::before {
            opacity: 1;
        }
    }
}

.u-link--meta {
    color: $color_link_meta; //060606
    position: relative;
    transition: 0.5s all;
    text-decoration: underline;
    text-decoration-color: $brilliance_primary_accent_color;
    text-underline-offset: rem(4px);

    &:hover,
    &:focus,
    &:active {
        color: $color_link_hover_meta; //060606
        text-decoration: none;
        &::before {
            opacity: 0;
        }
    }
}

.u-link--tertiary {
    color: $color_link_tertiary; //060606
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: $color_link_hover_tertiary; //FF00B8
    }
}

.u-link--nav {
    color: $color_link_nav; //060606
    text-decoration: none;
    position: relative;

    &:hover,
    &:focus,
    &:active {
        color: $color_link_hover_nav; //767676
    }
}

/*------------------------------------*\
  #no Margin
\*------------------------------------*/
.u-margin-none {
    margin: 0;
}
