$knowpress_primary_color: var(--brilliance-primary-color);
$knowpress_primary_text_color: var(--brilliance-primary-text-color);
$knowpress_secondary_text_color: var(--brilliance-secondary-text-color);
$knowpress_sidebar_color: var(--brilliance-sidebar-color);
$knowpress_border_color: var(--brilliance-border-color);
$knowpress_card_bg_color: var(--brilliance-card-bg-color);

$knowpress_message_bg: var(--brilliance-message-bg-color);
$knowpress_message_border: var(--brilliance-message-border-color);

$knowpress_warning_message_bg: var(--brilliance-warning-bg-color);
$knowpress_warning_message_border: var(--brilliance-warning-border-color);

$knowpress_danger_message_bg: var(--brilliance-danger-bg-color);
$knowpress_danger_message_border: var(--brilliance-danger-border-color);

$knowpress_list_bg: var(--brilliance-list-bg-color);
$knowpress_list_border: var(--brilliance-list-border-color);

$knowpress_default_font-family: "Inter";

$knowpress_global_transition: 0.15s;
