/*------------------------------------*\
  #Quote block
\*------------------------------------*/
.wp-block-quote {
    border-left: 3px solid $color_border_secondary;
    margin: rem(16px 0px);
    padding-left: rem(16px);
}

.wp-block-quote.has-text-align-right {
    border-left: none;
    border-right: 3px solid $color_border_secondary;
    padding-right: rem(16px);
    padding-left: 0px;
}
/*------------------------------------*\
  #Quote group
\*------------------------------------*/
.wp-block-group__inner-container {
    padding: rem(16px);
}
/*------------------------------------*\
  #Quote Embed
\*------------------------------------*/
.wp-block-embed {
    max-width: 90%;
}

/*------------------------------------*\
  #Gallery Block
\*------------------------------------*/
.is-style-masonry-grid {
    max-width: 100% !important;
    margin-top: rem(48px);
    margin-bottom: rem(48px);

    @include mq($from: tablet) {
        margin-bottom: rem(96px);
    }

    .wp-block-image {
        margin: 0px !important;
        margin-bottom: rem(38px) !important;
        width: 100% !important;
        max-width: 100%;

        @include mq($from: tablet) {
            margin-bottom: rem(50px) !important;
            width: 380px !important;
            margin-right: 0 !important;
        }
    }
}

.is-style-carousel-layout {
    max-width: 100% !important;
    margin-bottom: rem(48px);

    @include mq($from: tablet) {
        margin-bottom: rem(122px);
    }
}
