* {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    transition: $global-transition;
}

body {
    transition: $global-transition;
}

body.admin-bar {
    .c-nav {
        @include mq($until: tablet) {
            top: 47px;
        }
    }

    .c-header__search-close {
        @include mq($until: tablet) {
            padding-top: rem(32px);
        }
    }
}
