/*------------------------------------*\
  #Links
\*------------------------------------*/
a {
    color: $color_link; //767676
    transition: $global-transition;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: $color_link_hover;
    }

    &:focus {
        outline: 1px solid $brilliance_main_primary_color;
        border-radius: 1px;
    }

    &:hover,
    &:active {
        outline: none;
    }
}

a img {
    &:hover,
    &:focus,
    &:active {
        opacity: 0.5;
    }
}
