.c-category {
    width: max-content;
    display: inline;
}

.c-category__item__link {
    color: $brilliance_primary_text_color;
    margin-left: rem(8px);
    text-transform: uppercase;

    &:first-child {
        margin-left: 0px;
    }
}
