.c-filter {
    width: 100%;
    background: lightskyblue;

    display: flex;
    justify-content: flex-end;
}

.c-filter.is-open {
    .c-filter__item:nth-child(1),
    .c-filter__item:nth-child(3) {
        margin-top: rem(6px);
    }
}

.c-filter__items {
    width: max-content;
    display: flex;
    border: none;
    padding: 0;

    &:hover,
    &:focus,
    &:active {
        background: none;
        border: none;
    }

    &:focus,
    &:active {
        .c-filter__item {
            color: $brilliance_neutral_dark_gray_color;
        }
    }
}

.c-filter__item {
    width: rem(10px);
    height: rem(10px);
    background: $brilliance_main_dark_color;
    border-radius: 999px;

    margin: rem(0px 2px);

    &:last-child {
        margin-right: 0;
    }
}
