.c-filter {
    display: none;
}

.c-filter__items {
}

.c-filter__item {
}

.c-filter__cats {
    width: 100%;
    margin-top: rem(30px);

    @include mq($from: tablet) {
        margin-top: rem(42px);
    }
}

.c-filter__cat {
    margin-right: rem(40px);
    display: inline-block;
}

.c-filter__list {
    visibility: hidden;
    display: none;
}
