.c-filter {
    display: none;
    transition: 0s all !important;
}

.c-filter__title {
    text-transform: uppercase;
    color: $sheen_secondary_text_color;
    margin-bottom: rem(48px);
    display: block;
}

.c-filter__cats {
    width: 100%;
    margin-top: rem(30px);

    @include mq($from: tablet) {
        margin-top: rem(42px);
    }
}

.c-filter__cat {
    margin-right: rem(40px);
    display: inline-block;
    cursor: pointer;
    color: $sheen_secondary_text_color;
    text-transform: capitalize;

    &:hover,
    &:focus,
    &:active {
        color: $sheen_primary_text_color;
    }
}

.c-filter__cat.active {
    color: $sheen_primary_text_color;
}

.c-filter__list {
    visibility: hidden;
    display: none;
}
