/*------------------------------------*\
  #Header
\*------------------------------------*/
.c-header {
    max-height: rem(100px);
    padding: rem(0px 16px);

    @include mq($from: tablet) {
        max-height: rem(108px);
        padding: 0;
    }

    @include mq($until: wide-sm) {
        padding: rem(0px 16px);
    }
}

.c-header__menu {
    width: 100%;
    height: rem(44px);
    margin-top: rem(29px);
    max-height: rem(44px);
    display: flex;
    justify-content: space-between;

    @include mq($from: tablet) {
        margin-top: rem(64px);
    }

    @include mq($until: wide-sm) {
        margin-top: rem(16px);
    }
}

.c-header__branding {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 155;

    @include mq($from: tablet) {
        width: 20%;
    }

    img {
        width: auto;
        max-height: 44px;
    }
}

.c-header__branding.is-revert {
    img {
        filter: invert(100%);
    }
}

.c-header__title {
    margin: 0px;
}

.c-header__title__anchor {
    text-transform: uppercase;
    color: $sheen_headings_color;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: $sheen_primary_accent_color;
    }
}

.c-header__search-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.856);
    top: 0;
    left: 0;
    z-index: 150;
    display: none;

    transition: none !important;

    @include mq($from: tablet) {
        justify-content: center;
    }
}

.c-header__search-overlay__container {
    width: 100%;

    @include mq($from: tablet) {
        height: 100%;
        max-width: rem(1240px);
    }
}

.c-header__search-close {
    width: 100%;
    margin-top: rem(29px);
    display: flex;
    justify-content: flex-end;
    font-size: rem(32px);
    color: $sheen_primary_text_white_color;

    @include mq($from: tablet) {
        margin-top: rem(100px);
        font-size: rem(40px);
    }
}

.c-header__search-close__icon {
    margin-right: rem(16px);
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        color: $sheen_secondary_text_color;
    }

    @include mq($from: tablet) {
        margin-right: 0px;
    }
}

.c-header__search-wrapper {
    width: 100%;
    margin-top: rem(64px);
    display: flex;
    justify-content: center;
    align-items: center;

    .c-header__search-form {
        @include mq($until: tablet) {
            padding: rem(0px 16px);
        }
    }

    .c-btn-seacrh {
        color: $sheen_main_white_color;

        @include mq($until: tablet) {
            right: rem(16px);
        }
    }

    .c-header__search-field {
        color: $sheen_main_white_color !important;

        &:hover,
        &:focus,
        &:active {
            outline: $sheen_neutral_dark_gray_color solid 1px;
        }

        &::placeholder {
            color: $sheen_main_white_color !important;
        }
    }
}

.c-header__search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    max-width: rem(700px);

    label {
        width: 100%;
    }

    .c-header__search-field {
        width: 100%;
        position: relative;
        padding-bottom: rem(12px);
        font-size: rem(14px);
        line-height: rem(18px);
        color: $sheen_primary_text_color;

        &::placeholder {
            font-weight: 400;
            color: $sheen_primary_text_color;
        }

        &:hover {
            outline: none;
        }

        &:focus,
        &:active {
            outline: $sheen_neutral_dark_gray_color 1px solid;
            border-radius: rem(3px);
        }

        @include mq($from: tablet) {
            font-size: rem(20px);
            line-height: rem(26px);
            padding-bottom: rem(16px);
        }
    }
}

.c-search-form__submit {
    position: absolute;
    right: rem(16px);

    &:focus,
    &:active {
        outline: $sheen_main_white_color solid 1px;
    }
}

.c-header__search-icon--search {
    font-size: rem(20px);

    @include mq($from: tablet) {
        font-size: rem(22px);
    }
}
