.c-header {
    background-color: lightsalmon;
    max-height: 60px;

    @include mq($from: tablet) {
        max-height: 108px;
    }
}

.c-header__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: lightseagreen;
    margin-top: 16px;

    height: 44px;
    max-height: 44px;

    @include mq($from: tablet) {
        margin-top: 64px;
    }
}
.c-header__branding {
    background-color: lightgreen;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include mq($from: tablet) {
        width: 20%;
    }
}

.c-header__title {
    margin: 0px;
}

.c-header__nav {
    width: 50%;
    background-color: darksalmon;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mq($from: tablet) {
        width: calc(100% - 20%);
    }
}

.c-header__nav.is-open {
    .c-nav {
        display: block;
    }
}
