.c-main {
    display: flex;
    justify-content: center;
    min-height: max-content;
    height: max-content;

    @include mq($from: tablet) {
        justify-content: flex-start;
    }
}

.c-main__content {
    width: 100%;
}

.c-main__header {
    width: 100%;
    margin-top: 96px;

    @include mq($from: tablet) {
        margin-top: 128px;
    }
}

.c-main__body {
    background-color: lightpink;
    margin: 74px auto 0px auto;
    max-width: 100%;

    // @include mq($until: desktop-md) {
    //     width: 100vw !important;
    // }
}

.c-main__title {
    margin: 0;
}
