/*------------------------------------*\
  #Main Component
\*------------------------------------*/
.c-main {
    display: flex;
    justify-content: center;
    min-height: max-content;
    height: max-content;
    padding: rem(0px 16px);

    @include mq($from: tablet) {
        justify-content: center;
        padding: 0;
    }

    @include mq($until: wide-sm) {
        padding: rem(0px 16px);
    }
}

.c-main__content {
    width: 100%;
    max-width: 100%;
    margin-top: rem(96px);

    @include mq($from: tablet) {
        margin-top: rem(128px);
    }
}

.c-main__content--small {
    margin-top: rem(96px);

    @include mq($from: tablet) {
        max-width: rem(910px);
        margin-top: rem(110px);
    }
}

.c-main__header {
    width: 100%;
}

.c-main__body {
    margin: 74px auto 0px auto;
    max-width: 100%;
}

.c-main__body--projects {
    margin: rem(0px auto 0px auto);

    .c-main__no-result {
        display: block;
        margin-bottom: rem(64px);
        text-align: center;
    }

    .c-main__page-header {
        text-align: center;
        width: 100%;
    }

    .c-main__page-content {
        text-align: center;
    }

    .c-header__search-form {
        display: inline-block;
    }
}

.c-main__error {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-bottom: rem(64px);

    @include mq($from: tablet) {
        min-height: calc(100vh - 30em);
    }
}

.c-main__title {
    margin: 0;
    text-transform: capitalize;
}

.c-main__error-title {
    width: 100%;
    font-size: rem(150px);
    line-height: 200px;
    text-align: center;
    color: $sheen_tertiary_text_color;

    @include mq($from: tablet) {
        font-size: rem(200px);
    }
}

.c-main__oops {
    color: $sheen_tertiary_text_color;
    display: inline-block;
    margin: 0;
    margin-right: rem(12px);

    @include mq($until: tablet) {
        width: 100%;
        text-align: center;
    }
}

.c-main__error-desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: rem(16px);
    text-align: center;
}

.c-main__desc {
    color: $sheen_primary_text_color;
    display: inline-block;
    margin: 0;
    margin-top: rem(32px);
    margin-bottom: rem(32px);

    @include mq($until: tablet) {
        width: 100%;
    }
}

/*------------------------------------*\
  #Main Filter
\*------------------------------------*/
.c-main__filter {
    width: 100%;
    margin-bottom: rem(31.5px);
}

.c-main__filter-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.c-main__filter-wrapper.is-open {
    .c-main__filter-item:nth-child(1),
    .c-main__filter-item:nth-child(3) {
        margin-top: rem(6px);
    }
}

.c-main__filter-items {
    width: max-content;
    display: flex;
    border: none;
    padding: 0;

    // Ux friendly button
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:hover,
    &:focus,
    &:active {
        background: none;
        border: none;
    }

    &:focus,
    &:active {
        .c-filter__item {
            color: $sheen_neutral_dark_gray_color;
        }
    }
}

.c-main__filter-item {
    background: $sheen_main_dark_color;
    width: rem(5px);
    height: rem(5px);
    border-radius: 999px;
    margin: rem(0px 2px);

    &:last-child {
        margin-right: 0;
    }
}
