/*------------------------------------*\
  #Main Component
\*------------------------------------*/
.c-main {
    display: flex;
    justify-content: center;
    min-height: max-content;
    height: max-content;

    @include mq($from: tablet) {
        justify-content: center;
    }
}

.c-main__content {
    width: 100%;
    max-width: 100%;
    margin-top: rem(96px);

    @include mq($from: tablet) {
        margin-top: rem(128px);
    }
}

.c-main__content--small {
    margin-top: rem(96px);

    @include mq($from: tablet) {
        max-width: 910px;
        margin-top: rem(110px);
    }
}

.c-main__header {
    width: 100%;
}

.c-main__body {
    margin: 74px auto 0px auto;
    max-width: 100%;
}

.c-main__title {
    margin: 0;
    text-transform: capitalize;
}
