.c-nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    z-index: 100;

    @include mq($from: tablet) {
        display: flex;
        justify-content: flex-end;
        position: relative;
        height: max-content;
    }
}

.c-nav__toggle {
    @include mq($from: tablet) {
        display: none;
    }
}

.s-nav {
    margin: 0px;
    padding: 0px;
    width: max-content;
    list-style-type: none;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: rem(108px);

    @include mq($from: tablet) {
        display: block;
        padding-top: 0px;
        width: max-content;
    }

    .menu-item {
        display: inline-block;
        width: max-content;
        height: max-content;
        margin-bottom: rem(30px);
        position: relative;

        @include mq($from: tablet) {
            margin-left: 64px;
            margin-bottom: 0px;
        }

        &:focus-within,
        &:hover,
        &:focus,
        &:active {
            .sub-menu {
                display: block;
            }
        }
    }

    .sub-menu {
        display: none;
        width: 200px;
        position: absolute;
        padding: 0px;
        background-color: darkred;
        text-align: center;
    }

    .c-nav__arrow {
        display: none;
    }
}

.s-nav .menu-item:first-child {
    @include mq($from: tablet) {
        margin-left: 0px;
    }
}

.c-nav__menu-item__link {
    @include mq($until: tablet) {
        color: $brilliance_primary_text_white_color !important;
    }
}

/*------------------------------------*\
  #SUB MENUS
\*------------------------------------*/

.sub-menu {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

/*------------------------------------*\
  #Burger Button
\*------------------------------------*/
.c-nav__toggle {
    padding: 0;
    margin: 0;
    width: 35px;
    height: 20px;
    border: none;
    background: transparent;
    position: relative;
    cursor: pointer;
    border: none !important;
    z-index: 140;

    &:hover,
    &:focus,
    &:active {
        background-color: transparent;
        outline: none;
    }
}

.c-nav__toggle.c-nav__toggle--burger:after,
.c-nav__toggle.c-nav__toggle--burger:before,
.c-nav__toggle.c-nav__toggle--burger span {
    width: 100%;
    height: 2px;
    border-radius: 0px;
    position: absolute;
    display: block !important;
    background: $brilliance_primary_color;
}
.c-nav__toggle.c-nav__toggle--burger:after,
.c-nav__toggle.c-nav__toggle--burger:before {
    content: "";
    transition: 0.3s width 0.4s;
}
.c-nav__toggle.c-nav__toggle--burger:after {
    top: 0px;
    left: 0px;
    margin-top: 0px;
    height: 1px;
}
.c-nav__toggle.c-nav__toggle--burger:before {
    bottom: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 1.5px;
}
.c-nav__toggle.c-nav__toggle--burger span {
    top: 55%;
    margin-top: -1.5px;
    height: 1px;
    transition: transform 0.3s;
}
.c-nav__toggle.c-nav__toggle--burger span:before {
    content: "";
    background: $brilliance_primary_color;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    position: absolute;
    left: 0px;
    transition: transform 0.3s;
}
.c-nav__toggle.c-nav__toggle--burger.on:after {
    transition: all 0.2s;
    width: 0%;
    left: 0px;
}
.c-nav__toggle.c-nav__toggle--burger.on:before {
    transition: all 0.2s;
    width: 0%;
    right: 0px;
}
.c-nav__toggle.c-nav__toggle--burger.on span {
    transform: rotate(45deg);
    transition: 0.3s transform 0.4s;
    height: 1px;
}
.c-nav__toggle.c-nav__toggle--burger.on span:before {
    transform: rotate(-90deg);
    transition: 0.3s transform 0.4s;
}
