/*------------------------------------*\
  #Post
\*------------------------------------*/
.c-post {
    width: 380px;
    max-width: 100%;
    margin-bottom: 50px;
    opacity: 0;

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    @include mq($from: tablet) {
        margin-bottom: 70px;
        display: inline-block;
    }

    @include mq($until: desktop-md) {
        width: rem(570px);
    }

    @include mq($until: tablet) {
        width: 100%;
    }

    @include mq($from: desktop, $until: desktop-md) {
        width: rem(460px);
    }
}

.c-post__thumbnail__link {
    display: block;
    &:hover,
    &:focus,
    &:active {
        .c-post__thumbnail__image {
            opacity: 0.5;
        }
    }
}

.c-post__thumbnail__image {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.c-post__entry-date {
    text-transform: uppercase;
}

.c-post__taxonomy {
    text-transform: capitalize;

    &::after {
        content: ", ";
    }

    &:last-child {
        &::after {
            content: "";
        }
    }
}

.c-post__entry-title {
    text-transform: capitalize;
    margin-top: rem(30px);
    margin-bottom: rem(12px);
}
